* {
  box-sizing: border-box;
}

.board {
  display: flex;
  width: 500px;

  flex-wrap: wrap;
}

.row {
  display: flex;

  flex-wrap: wrap;
  flex-basis: 100%;
}

.field {
  display: flex;
  height: 50px;
  padding: 5px;
  border: solid 1px #000;

  flex: 0 0 50px;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.field.is-potential {
  background-color: green !important;
}

.field.is-active {
  background-color: orange !important;
}

.row:nth-child(odd) .field:nth-child(even) {
  background-color: brown;
}

.row:nth-child(even) .field:nth-child(odd) {
  background-color: brown;
}

.piece {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.piece.white {
  background-color: #fff;
}

.piece.black {
  background-color: #000;
}

.piece.king.white {
  background-color: #aaa;
}

.piece.king.black {
  background-color: #555;
}
.piece.king:after {
  content: "";
  width: 95%;
  height: 95%;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.piece.king.white:after {
  background-color: #fff;
}

.piece.king.black:after {
  background-color: #000;
}
